
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

@media (max-width: 768px) {
    .media-scroller,
    .media-scroller--with-groups {
       grid-auto-columns: 100%; /* Adjust to fit the screen width */
    }
   
    .media-group {
       grid-auto-columns: 100%; /* Adjust to fit the screen width */
    }
   }

   @media (max-width: 768px) {
    .media-element > img {
       aspect-ratio: 1 / 1; /* Adjust the aspect ratio as needed */
       object-fit: cover; /* Ensure images cover their container without distortion */
    }
   }
      

section {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 16px;
}

.horizontal-scroll-section {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.horizontal-scroll-section a {
    flex: 0 0 auto;
    margin-right: 10px; /* Adjust spacing between items */
    scroll-snap-align: start;
}

.horizontal-scroll-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.horizontal-scroll-section img {
    width: 120px;
    height: 160px;
    object-fit: cover; /* Ensures the image covers the area without distorting its aspect ratio */
}

img {
    border-radius: 8px;
}

.padding {
    padding: 16px;
    margin: 8px;
}
